.cardInfo .comment-input {
    background-color: transparent;
    color: white!important;
}

.cardInfo .comment-input:focus {
    background-color: transparent;
    border: 1px solid green;
    box-shadow: none;
}

.cardInfo .comment-button {
    background-color: transparent;
    border: 1px solid rgb(16, 180, 1);
}

.cardInfo .comment-button:hover {
    background-color: green;
    border: 1px solid rgb(16, 180, 1);
}

.cardInfo .comment-select {
    background-color: transparent;
    color: white;
}

.cardInfo .comment-select:hover {
    background-color: transparent;
}

.cardInfo .form-check-input {
    background-color: turquoise;
}