.carouselItemsRow {
  overflow-x: auto;
  overscroll-behavior: contain;
  flex-wrap: nowrap !important;
  scrollbar-width: none;
  height: 175px;
}

.carouselItemsRow::-webkit-scrollbar {
  display: none;
}

.carouselRow {
  background-color: black;
  margin-right: 0!important;
  margin-left: 0!important;
}

.carouselRow h2 {
  font-size: 25px;
  margin-left: 3px;
  color: white;
}